.containerTelaInicial {
  // background-color: rgb(209, 209, 201);
  display: flex;
  align-items: center;
  justify-content: center;

  div {
   // border: solid red;
    width: 45%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      font-size: 5.625rem;
      width: 80%;
      //border: solid purple;
      color: #205691;
    }

    p {
      font-size: 1.5rem;
      width: 75%;
    }
  }

}

@media (min-width: 201px) and (max-width: 500px) {


.containerTelaInicial {

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


  div {
   width: 90%;
   height: 50vh;

    h1 {
     font-size: 2.3rem;
     justify-content: center;
     align-items: center;
     width: 80vw;
     border: red solid;
     
    }

    p{
      font-size: 1rem;
      width: 80vw;
      justify-content: space-evenly;
      
      color: #205691;
      text-align: center;
      border: red solid;
    }
  }


  img{
    width: 50vw;
    border-radius: 50%;
  }
}






}
