.containerQuemSomos {
  background-color: aquamarine;
  height: 85vh;
  background-image: url("../../assets/backgroundQuemSomos.png");
  background-repeat: no-repeat;
  background-size: 100% 85vh;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boxTextosQuemSomos {
 // border: solid red;
  width: 45%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
 

h2{
    color: #205691;
    font-size: 2.5rem;
  //  border: solid red;
    width: 55%;
}

p{
  //   border: solid red;
     font-size: 1.5rem;
      width: 90%;
}


}


//responsividade//

@media (min-width: 201px) and (max-width: 500px) {


.containerQuemSomos {
flex-direction: column;
background-color: white;
background-image: none;

align-items: center;

}

.boxTextosQuemSomos {

  justify-content: center;
  align-items: center;

  
h2{
  text-align: center;  
  width: 80%;
  font-size: 2rem;
}

p{
  
  text-align: center;
   font-size: 0.8rem;
   width: 80%;
   height: 20vh;
   
  

}


}
}